# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
*.log

# Environment variables / secrets
.env
.env.*

# Local database
db.sqlite3
db.sqlite3-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/