#Virtual Environment
.venv/
venv/
#Python
_pycache_/
*.py[cod]
*$py.class

#Environmental Variables
.env 

#Database
db.sqlite3

#Logs
*.log 


#Static & Media
media/
staticfiles/

#VS Code
.vscode/

#macOS
.DS_Store

#Windows
Thumbs.db 