{% extends "base.html" %} {% block content %}

<div class="container mt-4 chat-container">
  <h2 class="mb-4">Chat about: {{ conversation.room.title }}</h2>

  <div class="card-body chat-box">
    {% for message in messages %} {% if message.sender == request.user %}

    <div class="message sent">
      <strong>You</strong>

      <br />

      {{ message.message }}

      <div class="message-time">{{ message.created_at|date:"d M H:i" }}</div>
    </div>

    {% else %}

    <div class="message received">
      <strong>{{ message.sender.first_name }}</strong>

      <br />

      {{ message.message }}

      <div class="message-time">{{ message.created_at|date:"d M H:i" }}</div>
    </div>

    {% endif %} {% empty %}

    <p class="text-center">No messages yet.</p>

    {% endfor %}
  </div>
  <div id="typing-indicator" class="text-muted mb-2" style="display: none;">Someone is typing...</div>
  <form id="chat-form" class="mt-4">
    {% csrf_token %}

    <div class="input-group mt-3">
      {{ form.message }}

      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>
<script>
    const currentUserId="{{ request.user.id }}";
  const chatBox = document.querySelector(".chat-box");
  if (chatBox) {
    chatBox.scrollTop = chatBox.scrollHeight;
  }

  const conversationId = "{{ conversation.id }}";

  const socket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + conversationId + "/",
  );

  socket.onopen = function () {
    console.log("✅ WebSocket Connected");
  };

  socket.onclose = function () {
    console.log("❌ WebSocket Disconnected");
  };

  socket.onerror = function (error) {
    console.log("WebSocket Error:", error);
  };

  socket.onmessage=function(event){

    const data=JSON.parse(event.data);
    const isMine=Number(currentUserId)=== data.sender_id;

    const messageDiv=document.createElement("div");
    messageDiv.className=isMine
    ?"message sent":"message recieved";

    messageDiv.innerHTML=`<strong>${isMine ? "You":data.sender}</strong><br>${data.message}
    <div class="message-time">${date.time}</div>`;

    chatBox.appendChild(messageDiv);
    chatBox.scrollTop=chatBox.scrollHeight;
  };



  const chatForm = document.getElementById("chat-form");
const messageInput = document.querySelector("input[name='message'],textarea[name='message']");
messageInput.focus();

chatForm.addEventListener("submit", function (e) {
    e.preventDefault();

    const message = messageInput.value.trim();

    if (message === "") return;

    socket.send(message);

    messageInput.value = "";
});


messageInput.addEventListener("keydown",function(e){
    if(e.key === "Enter" && !e.shiftKey){
        e.preventDefault();
        chatForm.requestSubmit();
    }
});
</script>
{% endblock %}
