<!DOCTYPE html>
<html>
    <head>
        <title>{{ room.title }}</title>
    </head>
    <body>
        <h1>{{ room.title }}</h1>
        <p><strong>Rent:</strong>₹{{ room.rent }}</p>
        <p><strong>Location:</strong>{{ room.location }}</p>
        <p><strong>Description:</strong>{{ room.description}}</p>
        <p><strong>Owner:</strong>{{ room.owner.first_name}} {{ room.owner.last_name }}</p>
        <p><strong>Available:</strong>
        {% if room.is_available %}
        Yes
        {% else %}
        No 
        {% endif %}
    </p>

    <p><strong>Created:</strong>{{ room.created_at }}</p>

    <hr>

<h2>Reviews</h2>

{% if average_rating %}
    <p>
        ⭐ Average Rating:
        {{ average_rating|floatformat:1 }}/5
    </p>
{% else %}
    <p>No ratings yet.</p>
{% endif %}

{% if reviews %}

    {% for review in reviews %}

        <div style="border:1px solid #ddd; padding:15px; margin-bottom:15px;">

            <strong>{{ review.user.email }}</strong>

            <p>
                Rating:
                {{ review.rating }}/5 ⭐
            </p>

            <p>
                {{ review.comment }}{% if user == review.user %}

    <a href="{% url 'reviews:edit_review' review.id %}">
        ✏️ Edit
    </a>

    |

    <a href="{% url 'reviews:delete_review' review.id %}">
        🗑️ Delete
    </a>

{% endif %}
            </p>

            <small>
                {{ review.created_at }}
            </small>

        </div>

    {% endfor %}

{% else %}

    <p>No reviews yet.</p>

{% endif %}



    {% if user.is_authenticated %}
    <a href="{% url 'reviews:add_review' room.id %}">
        Write a review
    </a>
    {% endif %}


    {% if user.is_authenticated %}
    <a href="{% url 'wishlist:toggle_wishlist' room.id %}">
        {% if is_in_wishlist %}
        ❤️ Remove from Wishlist
        {% else %}
        🤍 Add to Wishlist
        {% endif %}
    </a>
    {% endif %}
    <p>
        <a href="{% url 'bookings:book_room' room.id %}">Book Room</a>
    </p>

    <p>
        <a href="{% url 'rooms:edit_room' room.id %}">Edit Room</a>
    </p>
    <p>
        <a href="{% url 'rooms:delete_room' room.id %}">Delete Room</a>
    </p>

    <a href="{% url 'rooms:room_list' %}">Back to Room List</a>
    </body>
</html>