{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">My Services</h2>

    {% if services %}

        <div class="row">

            {% for service in services %}

                <div class="col-md-4 mb-4">

                    <div class="card shadow-sm h-100">

                        <div class="card-body">

                            <h5 class="card-title">
                                {{ service.title }}
                            </h5>

                            <p class="text-muted">
                                {{ service.service_type }}
                            </p>

                            <p>
                                {{ service.description }}
                            </p>

                            <p>
                                <strong>Price:</strong>
                                ₹{{ service.price }}
                            </p>

                            {% if service.is_available %}
                                <span class="badge bg-success">
                                    Available
                                </span>

                                <div class="d-flex gap-2 mt-4">
                                    <a href="{% url 'provider_services:edit_service' service.id %}" 
                                    class="btn btn-primary btn-sm">Edit</a>


                                    <a href="{% url 'provider_services:delete_service' service.id %}"
                                    class="btn btn-outline-danger btn-sm">Delete</a>
                                </div>
                            {% else %}
                                <span class="badge bg-danger">
                                    Not Available
                                </span>

                                 <div class="d-flex gap-2 mt-4">
                                    <a href="{% url 'provider_services:edit_service' service.id %}" 
                                    class="btn btn-primary btn-sm">Edit</a>


                                    <a href="{% url 'provider_services:delete_service' service.id %}"
                                    class="btn btn-outline-danger btn-sm">Delete</a>
                                </div>
                            {% endif %}

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    {% else %}

        <div class="alert alert-info">
            You haven't added any services yet.
        </div>

    {% endif %}

</div>

{% endblock %}